body {
  font-family: sans-serif;
  background: #ffe6f0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #e91e63;
}

.section {
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

button {
  background: #e91e63;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
